name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, x86, ARM64]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ResizeMe/ResizeMe.csproj

    - name: Build and Publish (${{ matrix.arch }})
      run: |
        dotnet publish ResizeMe/ResizeMe.csproj -c Release -p:SelfContained=true -p:PublishSingleFile=false -p:PublishTrimmed=false -r win-${{ matrix.arch }} -p:WindowsPackageType=None

    - name: Prepare Installer Package
      run: |
        mkdir ResizeMe_Dist
        mkdir ResizeMe_Dist/data
        cp -r ResizeMe/bin/Release/net8.0-windows10.0.19041.0/win-${{ matrix.arch }}/publish/* ResizeMe_Dist/data/
        cp tools/"Install ResizeMe.bat" ResizeMe_Dist/
        Compress-Archive -Path ResizeMe_Dist/* -DestinationPath ResizeMe-${{ matrix.arch }}-Installer.zip

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ResizeMe-${{ matrix.arch }}-Installer
        path: ResizeMe-${{ matrix.arch }}-Installer.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Display structure of downloaded files
      run: ls -R artifacts

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          artifacts/ResizeMe-x64-Installer/ResizeMe-x64-Installer.zip
          artifacts/ResizeMe-x86-Installer/ResizeMe-x86-Installer.zip
          artifacts/ResizeMe-ARM64-Installer/ResizeMe-ARM64-Installer.zip
